*{
  
  margin: 0px;
  padding: 0px;
}

body{
    background:linear-gradient(to bottom, rgba(245, 246, 252, 0.966),rgba(247, 200, 157, 0.952)),url("../images/home1.jpg");
}
header{
    background:#35424a;
    color:#ffffff;
    padding:10px;
     
    min-height:70px;
    border-bottom:#e8491d 3px solid;
     
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0  0;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:2%;
  }
  
  header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
  }
  
  header a:hover{
    color:#f09227;
    font-weight:bold;
  }


  table
 {  
    border-radius:20px;
    margin-left: 35%;
    margin-top: -15%;
    background-color:rgb(250, 130, 60);
    font-size: 20px;
 }
 table th{
     font-size: 22px;
     font-weight: bold;
 }
 #button
 {
 background-color:rgb(236, 170, 46);
 color:white;
 height:32px;
 width:85px;
 border-radius:25px;
 }
  footer{
    padding:20px;
    
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
  }
  .sidebar{
    height:50%;
    width:12%;
    background: tomato;
    position: reltaive;
    line-height: 30pt;
    margin-top: 15%;
    padding-left: -10%;
  }
  .sidebar ul{
    list-style: none;
    /* height: 12.5%; */
  }
  .sidebar li a{
    text-decoration: none;
    color: black;
    padding-top:6%;
    text-align: center;
    font-size: 22px;
    display: block;
    height:70px;
    box-shadow: 0px 8px 10px black;
  }
  .sidebar nav ul li a:hover{
    background: #35424a;
    color:white;
    font-size: 22px;
  }