*{
  margin:0%;
}

body{
    background:linear-gradient(to bottom, rgba(245, 246, 252, 0.966),rgba(247, 200, 157, 0.952)),url("../images/home1.jpg");
}
header{
    background:#35424a;
    color:#ffffff;
    padding:10px;
     
    min-height:70px;
    border-bottom:#e8491d 3px solid;
     
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0  0;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:2%;
  }
  
  header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
  }
  
  header a:hover{
    color:#f09227;
    font-weight:bold;
  }

.hh-grayBox {
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 33.33%;
	position: relative;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: silver;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #e8491d;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color:  #27aa80;
	border-width: 0px;
	background-color: #e8491d;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	background-color: #e8491d;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 25px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;



	 
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color:silver;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
 




.order-tracking:first-child:before{display: none;}
.order-tracking.completed::before{background-color: #e8491d;}

.contact-us {

position: relative;
  width: 100%;
  bottom: 120px;
  margin-top:3%
  
}

.cancel {
padding: 7px;
 width:10%;
align: center;
background-color: #000000;
color: #FF9966;
cursor: pointer;}
.cancel:hover {
background-color: #666666;

}



  footer{
    padding:20px;
    
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
  }